# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
build/
.docusaurus/

# Misc
.DS_Store
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
!*.tfvars.example
